## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 15
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='relu'))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 15)                660

 dense_19 (Dense)            (None, 8)                 128

 dense_20 (Dense)            (None, 1)                 9

=================================================================
Total params: 797
Trainable params: 797
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [44]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=40)

Epoch 1/40
804/804 [==============================] - 3s 2ms/step - loss: 4.2407 - accuracy: 0.4931
Epoch 2/40
804/804 [==============================] - 1s 2ms/step - loss: 2.2128 - accuracy: 0.5730
Epoch 3/40
804/804 [==============================] - 1s 2ms/step - loss: 2.0049 - accuracy: 0.6173
Epoch 4/40
804/804 [==============================] - 1s 2ms/step - loss: 1.6898 - accuracy: 0.6679
Epoch 5/40
804/804 [==============================] - 2s 2ms/step - loss: 1.5896 - accuracy: 0.6783
Epoch 6/40
804/804 [==============================] - 2s 3ms/step - loss: 1.5706 - accuracy: 0.6864
Epoch 7/40
804/804 [==============================] - 2s 2ms/step - loss: 1.2651 - accuracy: 0.6985
Epoch 8/40
804/804 [==============================] - 1s 2ms/step - loss: 1.1941 - accuracy: 0.7018
Epoch 9/40
804/804 [==============================] - 1s 2ms/step - loss: 0.9959 - accuracy: 0.7107
Epoch 10/40
804/804 [==============================] - 1s 2ms/step - loss: 0.9746 - accuracy: 0.7088
Epoch 11/40
804/804 [==============================] - 1s 2ms/step - loss: 0.9539 - accuracy: 0.7005
Epoch 12/40
804/804 [==============================] - 1s 2ms/step - loss: 0.8704 - accuracy: 0.7114
Epoch 13/40
804/804 [==============================] - 1s 2ms/step - loss: 0.8433 - accuracy: 0.7148
Epoch 14/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6997 - accuracy: 0.7158
Epoch 15/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6717 - accuracy: 0.7222
Epoch 16/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6522 - accuracy: 0.7248
Epoch 17/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6509 - accuracy: 0.7254
Epoch 18/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6337 - accuracy: 0.7257
Epoch 19/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6380 - accuracy: 0.7250
Epoch 20/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6139 - accuracy: 0.7297
Epoch 21/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6065 - accuracy: 0.7281
Epoch 22/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6071 - accuracy: 0.7285
Epoch 23/40
804/804 [==============================] - 2s 3ms/step - loss: 0.6038 - accuracy: 0.7290
Epoch 24/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6007 - accuracy: 0.7288
Epoch 25/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6023 - accuracy: 0.7299
Epoch 26/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6032 - accuracy: 0.7307
Epoch 27/40
804/804 [==============================] - 1s 2ms/step - loss: 0.6033 - accuracy: 0.7297
Epoch 28/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5989 - accuracy: 0.7301
Epoch 29/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5937 - accuracy: 0.7301
Epoch 30/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6014 - accuracy: 0.7292
Epoch 31/40
804/804 [==============================] - 2s 3ms/step - loss: 0.5900 - accuracy: 0.7315
Epoch 32/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5790 - accuracy: 0.7317
Epoch 33/40
804/804 [==============================] - 2s 2ms/step - loss: 0.6073 - accuracy: 0.7271
Epoch 34/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5861 - accuracy: 0.7322
Epoch 35/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5967 - accuracy: 0.7277
Epoch 36/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5862 - accuracy: 0.7278
Epoch 37/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5838 - accuracy: 0.7304
Epoch 38/40
804/804 [==============================] - 1s 2ms/step - loss: 0.5740 - accuracy: 0.7316
Epoch 39/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7317
Epoch 40/40
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7310

In [45]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5909 - accuracy: 0.7283 - 446ms/epoch - 2ms/step
Loss: 0.5909460783004761, Accuracy: 0.7282798886299133

In [46]:
# Export our model to HDF5 file
filename = '/content/AlphabetSoupCharity_Optimization.h5'
nn.save(filename)